*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url(https://images.pexels.com/photos/942317/pexels-photo-942317.jpeg?auto=compress&cs=tinysrgb&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    border: 0;
    background-color: rgba(220, 20, 60, 0.76);
    color: #fff;
    padding: 15px 30px;
    margin: 0 5%;
    cursor: pointer;
}

button:active {
    background-color: darkblue;
}

#posts {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000;
}